@model WebApp_MVC_AllTopics_with_WebGentle.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditField</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm())
        {
        <table border="1" class="table table-bordered" style="background-color:antiquewhite;width:500px;">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayName("Employee Id")
                    </td>
                    <td>
                        @Html.Editor("Id")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayName("FullName")
                    </td>
                    <td>
                        @Html.EditorFor(n => n.FullName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(x => x.EmailAddress)
                    </td>
                    <td>
                        @Html.EditorFor(n => n.EmailAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayName("PersonalWebSite")
                    </td>
                    <td>
                        @Html.EditorFor(n => n.PersonalWebSite)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayName("Gender")
                    </td>
                    <td>
                        @Html.EditorFor(n => n.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="hit me" />
                    </td>
                </tr>
            </tbody>
        </table>
        }
    </div>
</body>
</html>
