@model WebApp_MVC_AllTopics_with_WebGentle.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>I am from Employees Index</h1>
        <div>
            <a href="/practice/AboutUs">Practice About Us</a> <br />
            <a href="/practice/Index">Practice Index</a>
        </div>
        <hr />
        <h1>List of Strongly Type HTML Helpers </h1>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
        <table border="1" class="table table-bordered" style="background-color:antiquewhite;width:500px;">
            <tr>
                <td>
                    @*@Html.HiddenFor*@
                    @Html.HiddenFor(model => model.EmpId)
                    @*@Html.LabelFor*@
                    @Html.LabelFor(model => model.Name, new { @class = "label-control" })
                </td>
                <td>
                    @*@Html.TextBoxFor*@
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @*@Html.LabelFor*@
                    @Html.LabelFor(model => model.city, new { @class = "label-control" })
                </td>
                <td>
                    @*@Html.DropDownListFor*@
                    @Html.DropDownListFor(model => model.city, new SelectList(Enum.GetValues(typeof(city))), "Select City", new { @class = "form-control" })
                </td>

            </tr>
            <tr>
                <td>
                    @*@Html.LabelFor*@
                    @Html.LabelFor(model => model.AgreeTerm, new { @class = "label-control" })
                </td>
                <td>
                    @*@Html.CheckBoxFor*@
                    @Html.CheckBoxFor(model => model.AgreeTerm)
                </td>

            </tr>
            <tr>
                <td>
                    @*@Html.LabelFor*@
                    @Html.LabelFor(model => model.Address, new { @class = "label-control" })
                </td>
                <td>
                    @*@Html.TextAreaFor*@
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", rows = "5" })
                </td>

            </tr>
            <tr>
                <td>
                    @*@Html.LabelFor*@
                    @Html.LabelFor(model => model.Password, new { @class = "label-control" })
                </td>
                <td>
                    @*@Html.PasswordFor*@
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                </td>

            </tr>
            <tr>
                <td>
                    @*@Html.LabelFor*@
                    @Html.LabelFor(model => model.skills, new { @class = "label-control" })
                </td>
                <td>
                    @*@Html.ListBoxFor*@
                    @Html.ListBoxFor(model => model.skills, new SelectList(Enum.GetValues(typeof(skills))), new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @*@Html.LabelFor*@
                    @Html.Label("male-true", "Male")
                    @Html.Label("female-true", "Female")

                </td>
                <td>
                    @*@Html.RadioButtonFor*@
                    @Html.RadioButtonFor(model => model.Gender, true, new { id = "male-true" })
                    @Html.RadioButtonFor(model => model.Gender, false, new { id = "female-true" })
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Submit" class="btn-primary" />
                </td>
            </tr>
        </table>
        }
    </div>
</body>
</html>
