
@using WebApp_MVC_AllTopics_with_WebGentle.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.MyName
        <br />
        <br />
        <hr />
        <ul>
            @foreach (var item in @ViewBag.NameList)
            {
                <li>@item</li>
            }
        </ul>
        <br />
        <br />
        <hr />
        <ul>
            @foreach (var item in @ViewBag.MyEmpList)
            {
                <li>Employee Id:- @item.Id, Employee Name :- @item.FullName</li>
            }
        </ul>
        <br />
        <br />
        <hr />
        @ViewData["MyName"]
        <br />
        <br />
        <hr />
        <ul>
            @foreach (var item in (List<string>)ViewData["NameList"])
            {
                <li>@item</li>
            }
        </ul>
    </div>
</body>
</html>
